/*
*****HEADER Text
font-family: 'Audiowide', cursive;
*******robo text
font-family: 'VT323', monospace;
*/

body {
  font-family: 'VT323', monospace;
  background-image: url("../images/stardust.png");
}


h1 {
	color:#92f442;
	font-family: 'Audiowide', cursive;
	font-size: 52px;
	padding-left: 20px;
}

h2 {
	color:#92f442;
	padding-left: 10px;
}

h4 {
	color:#92f442;
}

p {
	color:#92f442;
	font-size: 20px;
}

.glyphicon {
	color:#92f442;
}

.col-md-5 {
	border: 2px solid #92f442;
	height: 85px;
	padding:10px;
}


.col-md-10 {
	border: 2px solid #92f442;
	height: 95px;
	padding:10px;
}


#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

/*********************